<launch>

	<include file="$(find rplidar_ros)/launch/rplidar.launch">
		<arg name="port" value="/dev/ttyUSB0" /> 
	</include>

	<node pkg="obstacle_avoidance" type="rploa.py" name="rploa" output="screen">
		<param name="port" value="/dev/ttyUSB1" />
		<param name="distance_avoided" value="2.0" />
		<param name="min_valid_range" value="0.3" />
	</node>
	
</launch>
